button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }

body{
  font-family: 'Roboto Condensed', sans-serif;
  background: #0f2027;
}

.input{
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0 auto;
  padding: 1.5rem 1rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  /* width: 40%; */
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  position: relative;
}